
{% load staticfiles bootstrap3 compile_static static aristotle_themes %}
{% load notifications_tags %}
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

{{ form.media }}
{# load custom scss files instead of bootstrap css #}
{% get_main_scss_file as main_scss %}
<link rel="stylesheet" href="{% static main_scss|compile %}" />
{% get_theme as theme %}
{% for css_file in theme.css_files %}
<link rel="stylesheet" href="{% static css_file %}" />
{% endfor %}


<link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.less' %}" />
{% bootstrap_javascript %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.less' %}" />
<link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.visuals.less' %}" />
<link rel="stylesheet" href="{{ STATIC_URL }}aristotle_mdr/pink.css" />
<script src="{% static 'aristotle_mdr/aristotle.js' %}" type="text/javascript"></script>
<script src="{% static 'js/aristotle_theme.js' %}" type="text/javascript"></script>

{% if request.user.is_authenticated %}
  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  {% register_notify_callbacks callbacks='fill_aristotle_notification_menu,fill_notification_badge' %}
{% endif %}

{% for js_file in theme.js_files %}
<script src="{% static js_file %}" type="text/javascript"></script>
{% endfor %}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'aristotle_mdr/aristotle.ie8.css' %}" />
<![endif]-->
